* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host {
  font-size: 1.5rem;
}

section {
  margin-top: 1em;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  margin-bottom: 1rem;
}

button {
  font: inherit;
  margin-bottom: 1em;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}
