* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host {
  font-size: 1.5rem;
}

a {
  cursor: pointer;
}

.post-credit {
  font-size: 1rem;
}

.post-credit a,
.post-credit a:visited {
  margin-right: 0.5rem;
  color: black;
}

.post-credit a:hover,
.post-credit a:focus {
  color: hsla(0, 0%, 0%, 0.75);
}

.excerpt {
  font-style: italic;
}

article {
  margin: 0.5em;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 1em;
}
